.main {
    background: #ffffff;
    height: fit-content;
    min-height: 60vh;
    border-radius: 10px;
    position: relative;
    width: 70%;
    padding: 10px;
    margin: 50px auto auto;
}

.div1 {
    margin-left: 70px;
}

.buttons {
    margin-top: 100px;
    margin-left: 475px;
}

.main {
    padding: 20px;
}

.display-block {
    display: block;
}